*{
    box-sizing: border-box;
    margin: 0;
}
section{
    background-color: black;
    height: 100vh;
    width: 100vw;
    
    
}

#aside1{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    /* filter: opacity(10%); */
    height: 100%;
    color: white;
}

/* #aside2{
    width: 95%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(106, 9, 9);
    filter: opacity(60%);
    height: 100%;
} */

table caption{
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
}

table thead{
    background-color: red;
    padding: 30px;
}


